node_modules/
package-lock.json
yarn.lock
.vscode/

# Developement config file. It's for devs only and have some sensitive info
#/back/config/param_dev.js


# Production setting eviroment file. It's for test purpose only on dev machine.
/back/.env.prod
/back/.env