


.field{
    margin:8px;
    margin-bottom: 3px
}

.T-ALeft{
    text-align: left;
}
.tSmall{
    font-size: .8em;
}
.flyoutField{
    /* width:100%; */
    /* height:auto; */
    /* position:absolute;
    top:5px;
    left:450px; */
    /* left:50%; */
    /* padding:50px;
    margin:20px; */
    /* background-color: red; */
    border: 2px solid;
}

.right{
    float:right
}



