html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;
}

.main-container-make {
  min-height: 100vh;
  padding-bottom: 10%;
  background-color: #edeae5;
}

.make-holder {
  width: 70%;
  padding: 2%;
  padding-top: 5%;
}

@media only screen and (max-width: 768px) {
  .make-holder {
    width: 90%;
    padding: 2%;
    padding-top: 10%;
  }
}

.row-top-make {
  width: 100%;
  margin: auto;
}

.row-bottom-make {
  margin: auto;
}

.form-make-list {
  width: 100%;
  text-align: left;
  padding: 4%;
}

@media only screen and (max-width: 768px) {
  .form-make-list {
    text-align: center;
  }
}

.form-holder-make {
  border-top-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0px;
  border: 1px solid rgb(202, 202, 202);
  border-right: none;
  background: #f7f7f7;
}
@media only screen and (max-width: 768px) {
  .form-holder-make {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid rgb(202, 202, 202);
    border-bottom: none;
  }
}

.search-holder-make {
  padding-top: 1%;
  border-top-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 5px;
  border: 1px solid rgb(202, 202, 202);
  border-left: none;
  background: #f7f7f7;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .search-holder-make {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid rgb(192, 192, 192);
    border-top: none;
    overflow: hidden;
  }
}

.text-area-make {
  width: 100%;
}

.list-name {
  width: 100%;
}

.make-submit-button {
  font-size: 14px;
  cursor: pointer;
  color: #a8903d;
  font-weight: 500;
  border: 1px solid #eed479;
  background-color: #fce181;
  box-shadow: none !important;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 5px;
  margin: 0;
  margin-top: 6%;
}

@media only screen and (max-width: 768px) {
  .make-submit-button {
    font-size: 16px;
    margin-top: 10%;
  }
}

.make-submit-button:hover {
  color: #917d35;
  border: 1px solid #dbc268;
  background-color: #f0d471;
  box-shadow: none !important;
}

.make-submit-button:focus {
  box-shadow: none !important;
}

.container-movies-chosen {
  width: 70%;
  padding: 2%;
}

.form-input-search-add {
  width: 100%;
  margin-bottom: 8%;
}

.addMovie {
  cursor: pointer;
  transition: all ease 300ms;
  position: relative;
  margin-left: 5px;
  margin-right: 10px;
  font-size: 1rem;
  float: right;
  color: #3d3d3d;
}

.addMovie:hover {
  font-size: 1.2rem;
  float: right;
}

.search-text-make-list {
  font-size: 12px;
  margin-top: 2.5%;
  text-align: left;
}

.image-inside-list {
  cursor: pointer;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
  margin: 0;
}

.image-inside-list-title {
  font-size: 10px;
}

.each-chosen-movie-holder {
  padding: 1.9%;
  cursor: pointer;
  position: relative;
}

.each-chosen-movie-holder img {
  height: 90px;
  width: 60px;
}

@media only screen and (max-width: 768px) {
  .each-chosen-movie-holder img {
    height: 90px;
    width: 60px;
  }
}

.icon-trash {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background-color: gray;
  height: 90px;
  width: 60px;
  padding: 0;
  opacity: 0.7;
}

@media only screen and (max-width: 768px) {
  .icon-trash {
    height: 90px;
    width: 60px;
  }
}

.icon-trash:hover {
  opacity: 0.8;
  text-decoration: none;
  color: white;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.trash {
  position: relative;
  top: calc(50% - 12px);
}

.each-chosen-movie-holder:hover .middle {
  opacity: 1;
}

.tags-holder {
  width: 100%;
  margin-top: 2%;
}

.tag {
  display: inline-block;
  width: auto;
  cursor: pointer;
  transition: all ease 300ms;
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
}

.tag:hover {
  color: red;
  text-decoration: line-through;
}

.red {
  color: red;
}

.button-modal-list {
  cursor: pointer;
  color: #a8903d;
  font-weight: 500;
  border: 1px solid #eed479;
  background-color: #fce181;
  box-shadow: none !important;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-top: 5px;
  border-radius: 5px;
  margin-top: 4%;
  margin-bottom: 2%;
  margin-right: 2%;
  margin-left: 2%;
}

.button-modal-list:hover {
  color: #917d35;
  border: 1px solid #dbc268;
  background-color: #f0d471;
  box-shadow: none !important;
}

.button-modal-list:focus {
  box-shadow: none !important;
}

/* .container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color:grey;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
} */
