html {
  height: 100%;
}

#root {
  height: 100%;
}
/* Used on various pages */
@keyframes jump {
  0% {
    transform: translate3d(0, -40%, 0) scale3d(1, 1, 1);
  }
  40% {
    transform: translate3d(0, -20%, 0) scale3d(1, 1.1, 1);
  }
  100% {
    transform: translate3d(0, 0%, 0) scale3d(1, 1, 1);
  }
}
.jump {
  transform-origin: 50% 50%;
  animation: jump 0.7s linear alternate infinite;
}

/* NAVIGATION BAR */

#navbar-main-style {
  background-color: #026670;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: white;
}

.navbar-brand {
  font-size: 28px;
  color: white;
}

.navbar-brand:hover {
  color: white;
}

.nav-link {
  color: #99aabb;
  font-size: 14px;
}

.nav-link:hover {
  color: white;
}

.nav-item {
  text-align: center;
}

@media only screen and (min-width: 990px) {
  .form-spacing {
    margin-right: 10px;
  }
}

/* MAIN PAGE*/

.top-main {
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: #edeae5;
}

.top-main-header {
  font-size: 60px;
}

@media only screen and (max-width: 600px) {
  .top-main-header {
    font-size: 50px;
  }
}

.top-main-text {
  font-size: 24px;
}

@media only screen and (max-width: 600px) {
  .top-main-text {
    font-size: 26px;
  }
}

.btn-color-main {
  color: #a8903d;
  font-weight: 500;
  border: 1px solid #eed479;
  background-color: #fce181;
  box-shadow: none;
  border-radius: 5px;
}

.btn-color-main:hover {
  color: #917d35;
  border: 1px solid #dbc268;
  background-color: #f0d471;
  box-shadow: none;
}

.second-main {
  padding-top: 6%;
  padding-bottom: 6%;
  background-color: #edeae5;
  text-align: center;
}

.icon-main {
  font-size: 90px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 600px) {
  .icon-main {
    font-size: 60px;
    margin-bottom: 30px;
  }
}

.icon-text {
  font-size: 19px;
}

@media only screen and (max-width: 600px) {
  .icon-text {
    font-size: 17px;
    margin-bottom: 30px;
    width: 60%;
    margin: auto;
  }
}

.third-main {
  padding-top: 6%;
  padding-bottom: 6%;
  background-color: #edeae5;
}

.row-main-page {
  margin: auto;
  justify-content: center;
}

.three-images img {
  margin: auto;
  display: block;
  margin-bottom: 4%;
}

@media only screen and (max-width: 600px) {
  .three-images {
    margin-bottom: 8%;
  }
}

/* CAROUSEL MAIN PAGE*/

.carousel-inner img {
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .carousel-inner img {
    width: 100%;
    height: auto;
  }
}

.carousel-header {
  font-size: 30px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .carousel-header {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.carousel-control-prev-icon {
  display: none;
}

.carousel-control-next-icon {
  display: none;
}

/*SEARCH PAGE*/

.main-container-search {
  min-height: 100%;
  background-color: #edeae5;
}

.horizontal-rule {
  border: 0.5px solid black;
  width: 100%;
}

#movies img {
  width: 100%;
  margin-bottom: 3%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  #movies img {
    width: 90%;
    margin-top: 60px;
  }
}

#movies {
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  background-color: #edeae5;
}

@media only screen and (max-width: 600px) {
  #movies {
    width: 90%;
  }
}

.movie-holder {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  text-align: left;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 4px 1px rgba(201, 201, 201, 0.27);
  -moz-box-shadow: 0px 1px 4px 1px rgba(201, 201, 201, 0.27);
  box-shadow: 0px 1px 4px 1px rgba(201, 201, 201, 0.27);
}

@media only screen and (max-width: 600px) {
  .movie-holder {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-bottom: 8%;
    text-align: center;
  }
}

.title-search-result {
  font-size: 24px;
  font-weight: 500;
  color: #414141;
  margin-bottom: 15px;
}

@media only screen and (max-width: 600px) {
  .title-search-result {
    font-size: 30px;
  }
}

.text-search-result {
  font-size: 16px;
  line-height: 19px;
  color: #424242;
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .text-search-result {
    font-size: 16px;
    text-align: center;
  }
}

.release-search-result {
  font-size: 16px;
  margin-bottom: 5px;
}

.rating-search-result {
  font-size: 16px;
}

.img-holder-search {
  width: 20%;
  text-align: center;
  margin: auto;
}

.text-holder-search {
  width: 80%;
  padding: 8%;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  #buttonMovie-large {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  #buttonMovie-small {
    display: none;
  }
}

.add-list-button {
  font-size: 14px;
  cursor: pointer;
  color: #a8903d;
  font-weight: 500;
  border: 1px solid #eed479;
  background-color: #fce181;
  padding-top: 8%;
  padding-bottom: 8.4%;
  padding-left: 26%;
  padding-right: 26%;
  border-radius: 5px;
  box-shadow: none;
}

.add-list-button:hover {
  color: #917d35;
  border: 1px solid #dbc268;
  background-color: #f0d471;
  box-shadow: none;
}

@media only screen and (max-width: 600px) {
  .add-list-button {
    font-size: 16px;
    padding-top: 8%;
    padding-bottom: 8.4%;
    padding-left: 23%;
    padding-right: 23%;
  }
}

@media only screen and (max-width: 600px) {
  .img-holder-search {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .text-holder-search {
    width: 80%;
  }
}

/*MOVIE DETAILS PAGE*/
.main-container-details {
  min-height: 100%;
  background-color: #edeae5;
}

#movieDetails {
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  background-color: #edeae5;
}

/*FOOTER*/

.page-footer {
  height: 40px;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

/*LOGIN*/
.header-login-signup {
  color: rgb(46, 46, 46);
}

.input-login-signup {
  border: 1px solid rgb(207, 206, 206);
}

.button-login-signup {
  font-size: 14px;
  cursor: pointer;
  color: #a8903d;
  font-weight: 500;
  border: 1px solid #eed479;
  background-color: #fce181;
  box-shadow: none;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 34%;
  padding-right: 34%;
  border-radius: 5px;
}

.button-login-signup:hover {
  color: #917d35;
  border: 1px solid #dbc268;
  background-color: #f0d471;
  box-shadow: none;
}

.button-login-signup:focus {
  box-shadow: none;
}

.modal-message {
  color: red;
  font-size: 12px;
  margin-left: 10px;
}
/*MAKE LISTS*/

.tag {
  transition: all ease 300ms;
  position: relative;
}

.tag:hover {
  color: red;
  text-decoration: line-through;
}

/* .tag:hover:before{
  display:block;
  height:3px;
  width:3px;
  position:absolute;
  content:"";
  z-index:2;
  top:0;
  right:0;
  background:blue
} */
