html {
  height: 100%;
}

#root {
  height: 100%;
}

/* Used on various pages */
@keyframes jump {
  0% {
    transform: translate3d(0, -40%, 0) scale3d(1, 1, 1);
  }
  40% {
    transform: translate3d(0, -20%, 0) scale3d(1, 1.1, 1);
  }
  100% {
    transform: translate3d(0, 0%, 0) scale3d(1, 1, 1);
  }
}
.jump {
  transform-origin: 50% 50%;
  animation: jump 0.7s linear alternate infinite;
}

/* NAVIGATION BAR */

#navbar-main-style {
  background-color: #026670;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: white;
}

.navbar-brand {
  font-size: 28px;
  color: white;
}

.logo-navbar {
  width: 130px;
  height: 50px;
}

.navbar-brand:hover {
  color: white;
}

.account-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.input.list-control {
  padding: 5px;
  width: 100% !important;
}

.form-lists-control {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  width: 100% !important;
  display: block;
}

@media only screen and (max-width: 990px) {
  .desktop-only {
    display: none;
  }
}

/* .dropdown-list-choices {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  margin: 0;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-left: 5px;
  padding-right: 9px;
  padding-bottom: 8px;
  padding-top: 10px;
  color: #a8903d;
  font-weight: 500;
  background-color: #fce181;
  font-family: 'Roboto', sans-serif;
}

.dropdown-list-choices:hover {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}

.dropdown-list-choices:focus {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}

.dropdown-list-choices:active {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
} */

.nav-link {
  color: #99aabb;
  font-size: 14px;
}

.nav-link:hover {
  color: white;
}

.nav-item {
  text-align: center;
}

@media only screen and (max-width: 990px) {
  .desktop-only {
    display: none;
  }
}

@media only screen and (min-width: 990px) {
  .mobile-only {
    display: none;
  }
}

/* @media only screen and (min-width: 990px) {
  .form-spacing {
    margin-right: 10px;
  }
} */

/* MAIN PAGE*/

.top-main {
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: #edeae5;
}

.top-main-header {
  font-size: 60px;
}

@media only screen and (max-width: 600px) {
  .top-main-header {
    font-size: 50px;
  }
}

.top-main-text {
  font-size: 24px;
}

@media only screen and (max-width: 600px) {
  .top-main-text {
    font-size: 26px;
  }
}

.btn-color-main {
  color: #a8903d;
  font-weight: 400;
  border: 1px solid #eed479;
  background-color: #fce181;
  box-shadow: none !important;
  border-radius: 5px;
}

.btn-color-main:hover {
  color: #917d35;
  border: 1px solid #dbc268;
  background-color: #f0d471;
  box-shadow: none !important;
}

.btn-color-main:focus {
  box-shadow: none !important;
}

.second-main {
  padding-top: 6%;
  padding-bottom: 6%;
  background-color: #edeae5;
  text-align: center;
}

.icon-main {
  font-size: 90px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 600px) {
  .icon-main {
    font-size: 60px;
    margin-bottom: 30px;
  }
}

.icon-text {
  font-size: 19px;
}

@media only screen and (max-width: 600px) {
  .icon-text {
    font-size: 17px;
    margin-bottom: 30px;
    width: 60%;
    margin: auto;
  }
}

.third-main {
  padding-top: 6%;
  padding-bottom: 6%;
  background-color: #edeae5;
}

.row-main-page {
  margin: auto;
  justify-content: center;
}

.three-images img {
  margin: auto;
  display: block;
  margin-bottom: 4%;
}

@media only screen and (max-width: 600px) {
  .three-images {
    margin-bottom: 8%;
  }
}

/* CAROUSEL MAIN PAGE*/

.carousel-inner img {
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .carousel-inner img {
    width: 100%;
    height: auto;
  }
}

.carousel-header {
  font-size: 30px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .carousel-header {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.carousel-control-prev-icon {
  display: none;
}

.carousel-control-next-icon {
  display: none;
}

/*SEARCH PAGE*/

.main-container-search {
  min-height: 100vh;
  background-color: #edeae5;
}

.row-search-results {
  padding-top: 5%;
}

.horizontal-rule {
  border: 0.5px solid black;
  width: 100%;
}

#movies {
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  background-color: #edeae5;
}

@media only screen and (max-width: 600px) {
  #movies {
    width: 90%;
  }
}

#movies img {
  width: 75%;
  margin-bottom: 3%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  #movies img {
    width: 90%;
    margin-top: 60px;
  }
}

.movie-holder {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  text-align: left;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 4px 1px rgba(201, 201, 201, 0.27);
  -moz-box-shadow: 0px 1px 4px 1px rgba(201, 201, 201, 0.27);
  box-shadow: 0px 1px 4px 1px rgba(201, 201, 201, 0.27);
}

@media only screen and (max-width: 600px) {
  .movie-holder {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-bottom: 8%;
    text-align: center;
  }
}

.title-search-result {
  font-size: 28px;
  color: #414141;
  margin-bottom: 15px;
}

@media only screen and (max-width: 600px) {
  .title-search-result {
    font-size: 30px;
  }
}

.text-search-result {
  font-size: 16px;
  line-height: 22px;
  color: #424242;
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .text-search-result {
    font-size: 16px;
    text-align: center;
  }
}

.release-search-result {
  font-size: 16px;
  margin-bottom: 5px;
}

.rating-search-result {
  font-size: 16px;
}

.img-holder-search {
  width: 20%;
  text-align: center;
  margin: auto;
}

.text-holder-search {
  width: 80%;
  padding: 8%;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .buttonMovie-large {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .buttonMovie-small {
    display: none;
  }
}

.add-list-button-left {
  width: 100%;
  font-size: 13px;
  cursor: pointer;
  color: #a8903d;
  font-weight: 400;
  border: 1px solid #eed479;
  background-color: #fce181;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 0px;
  box-shadow: none !important;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.add-list-button-right {
  width: 100%;
  font-size: 13px;
  cursor: pointer;
  color: #a8903d;
  font-weight: 400;
  border: 1px solid #eed479;
  background-color: #fce181;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 5px;
  box-shadow: none !important;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.add-list-button-left:hover {
  color: #917d35;
  border: 1px solid #dbc268;
  background-color: #f0d471;
  box-shadow: none !important;
}

.add-list-button-right:hover {
  color: #917d35;
  border: 1px solid #dbc268;
  background-color: #f0d471;
  box-shadow: none !important;
}

@media only screen and (max-width: 600px) {
  .add-list-button-right {
    margin-top: 5%;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .add-list-button-left {
    margin-top: 5%;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

@media only screen and (max-width: 600px) {
  .img-holder-search {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .text-holder-search {
    width: 80%;
  }
}

/*MOVIE DETAILS PAGE*/
.main-container-details {
  min-height: 100vh;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 8%;
  padding-right: 8%;
  background-color: #edeae5;
}

#movieDetails {
  width: 90%;
  margin: auto;
  justify-content: center;
  background-color: #edeae5;
}

.inner-container-details {
  width: 80%;
  background-color: white;
  padding: 4%;
  margin: auto;
  justify-content: center;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 4px 1px rgba(201, 201, 201, 0.27);
  -moz-box-shadow: 0px 1px 4px 1px rgba(201, 201, 201, 0.27);
  box-shadow: 0px 1px 4px 1px rgba(201, 201, 201, 0.27);
}

@media only screen and (max-width: 600px) {
  .inner-container-details {
    width: 90%;
  }
}

.single-movie-holder {
  margin: auto;
  justify-content: center;
}

.single-movie-holder img {
  width: 100%;
}

.button-movie-page {
  min-width: 150px;
  font-size: 14px;
  cursor: pointer;
  color: #a8903d;
  font-weight: 400;
  border: 1px solid #eed479;
  background-color: #fce181;
  box-shadow: none !important;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 6%;
  padding-right: 6%;
  border-radius: 5px;
}

.button-movie-page:hover {
  color: #917d35;
  border: 1px solid #dbc268;
  background-color: #f0d471;
  box-shadow: none !important;
}

.button-movie-page:focus {
  box-shadow: none !important;
}

.button-movie-page:focus {
  box-shadow: none !important;
}

.single-movie-holder ul {
  padding: 0;
  border: none;
}

.single-movie-holder ul li {
  border: none;
}

/*FOOTER*/

.page-footer {
  height: 40px;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

/*PREMIUM PAGE*/

.premium-main-cont {
  min-height: 100vh;
  height: 100%;
  background-color: #edeae5;
}

.first-cont-premium {
  padding-top: 4%;
  padding-bottom: 4%;
  background-color: #edeae5;
}

.top-premium-header {
  font-size: 45px;
}

@media only screen and (max-width: 600px) {
  .top-premium-header {
    font-size: 30px;
  }
}

.top-premium-text {
  font-size: 22px;
}

@media only screen and (max-width: 600px) {
  .top-premium-text {
    font-size: 16px;
  }
}

.price {
  font-size: 18px;
  font-weight: 400;
  color: #3a3a3a;
}

.row-premium-page {
  margin: auto;
  justify-content: center;
}

.premium-holder {
  padding: 4%;
  background-color: white;
  margin-bottom: 6%;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 4px 1px rgba(201, 201, 201, 0.27);
  -moz-box-shadow: 0px 1px 4px 1px rgba(201, 201, 201, 0.27);
  box-shadow: 0px 1px 4px 1px rgba(201, 201, 201, 0.27);
}

.patron-holder {
  padding: 4%;
  background-color: white;
  margin-bottom: 6%;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 4px 1px rgba(201, 201, 201, 0.27);
  -moz-box-shadow: 0px 1px 4px 1px rgba(201, 201, 201, 0.27);
  box-shadow: 0px 1px 4px 1px rgba(201, 201, 201, 0.27);
}

.premium-patron-header {
  font-size: 24px;
  font-weight: 400;
  color: #414141;
  margin-bottom: 15px;
}

#button-premium {
  font-size: 14px;
  cursor: pointer;
  color: #a8903d;
  font-weight: 400;
  border: 1px solid #eed479;
  background-color: #fce181;
  box-shadow: none !important;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 14%;
  padding-right: 14%;
  border-radius: 5px;
}

#button-premium:hover {
  color: #917d35;
  border: 1px solid #dbc268;
  background-color: #f0d471;
  box-shadow: none !important;
}

#button-premium:focus {
  box-shadow: none !important;
}

/*LOGIN*/
.header-login-signup {
  color: rgb(46, 46, 46);
}

.input-login-signup {
  border: 1px solid rgb(207, 206, 206);
}

.button-login-signup {
  font-size: 14px;
  cursor: pointer;
  color: #a8903d;
  font-weight: 400;
  border: 1px solid #eed479;
  background-color: #fce181;
  box-shadow: none !important;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 34%;
  padding-right: 34%;
  border-radius: 5px;
}

.button-login-signup:hover {
  color: #917d35;
  border: 1px solid #dbc268;
  background-color: #f0d471;
  box-shadow: none !important;
}

.button-login-signup:focus {
  box-shadow: none !important;
}

/*LISTS*/

.main-container-lists {
  min-height: 100vh;
  padding-top: 1.2%;
  padding-bottom: 10%;
  background-color: #edeae5;
  margin: auto;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .main-container-lists {
    padding-top: 8%;
  }
}

.lists-holder {
  text-align: left;
  margin: auto;
  margin-top: 4%;
  justify-content: center;
  padding: 4%;
  background: #f7f7f7;
  border-radius: 5px;
  border: 1px solid rgb(202, 202, 202);
}

@media only screen and (max-width: 600px) {
  .lists-holder {
    width: 80%;
  }
}

.tags-holder-lists {
  text-align: left;
  margin: auto;
  margin-top: 4%;
  justify-content: center;
  padding: 4%;
  background: #f7f7f7;
  border-radius: 5px;
  border: 1px solid rgb(202, 202, 202);
}

@media only screen and (max-width: 600px) {
  .tags-holder-lists {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .lists-holder {
    text-align: center;
  }
}

.lists-tag {
  display: inline-block;
  width: auto;
  cursor: pointer;
  color: black;
  /* transition: all ease 300ms;
    position: relative;
    margin-left: 5px;
    margin-right: 5px; */
}

.lists-tag:hover {
  color: #1ca7b5;
}

.each-list {
  width: 100%;
  margin-bottom: 2%;
  margin-top: 2%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 5px;
  list-style-type: none;
  background: white;
  border: 1px solid rgb(221, 221, 221);
}

.title-lists {
  color: rgb(83, 83, 83);
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .title-lists {
    display: block;
  }
}

.title-lists:hover {
  color: #1ca7b5;
}

.lists-icons {
  float: right;
}

@media only screen and (max-width: 600px) {
  .lists-icons {
    float: none;
  }
}

.icon-lists {
  color: rgb(83, 83, 83);
  cursor: pointer;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.icon-lists:hover {
  top: -3px;
}

/*SINGLE LIST*/

.main-container-list {
  min-height: 100vh;
  padding-top: 5%;
  padding-bottom: 10%;
  background-color: #edeae5;
  margin: auto;
  justify-content: center;
}

.single-list-holder {
  width: 70%;
  text-align: left;
  margin: auto;
  margin-top: 4%;
  justify-content: center;
  padding: 4%;
  padding-left: 6%;
  background: white;
  border-radius: 5px;
  border: 1px solid rgb(202, 202, 202);
}

@media only screen and (max-width: 600px) {
  .single-list-holder {
    width: 90%;
    padding: 6%;
    padding-left: 10%;
  }
}

.list-item {
  width: 100%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
  background: white;
}

.title-list {
  color: rgb(83, 83, 83);
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .title-list {
    font-size: 15px;
  }
}

.title-list:hover {
  color: #1ca7b5;
}

.icon-list {
  color: rgb(83, 83, 83);
  cursor: pointer;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.icon-list:hover {
  top: -3px;
}

.list-item img {
  margin-right: 2%;
}

.modal-message {
  color: red;
  font-size: 12px;
  margin-left: 10px;
}
/*MAKE LISTS*/

.search-add-list {
  width: 100%;
}

.add-to-list-button {
  width: 100%;
  font-size: 14px;
  cursor: pointer;
  color: #a8903d;
  font-weight: 400;
  border: 1px solid #eed479;
  background-color: #fce181;
  box-shadow: none !important;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 5px;
}

.add-to-list-button:hover {
  color: #917d35;
  border: 1px solid #dbc268;
  background-color: #f0d471;
  box-shadow: none !important;
}

.add-to-list-button:focus {
  box-shadow: none !important;
}

.list-search-add-list {
  list-style: none;
}

/*WILD SEARCH RESULTS*/

.main-container-wild-search {
  min-height: 100vh;
  padding-top: 5%;
  padding-bottom: 10%;
  background-color: #edeae5;
  margin: auto;
  justify-content: center;
}

.wild-results-holder {
  width: 80%;
  text-align: left;
  margin: auto;
  margin-top: 4%;
  justify-content: center;
  padding: 4%;
  padding-left: 6%;
  background: white;
  border-radius: 5px;
  border: 1px solid rgb(202, 202, 202);
}

@media only screen and (max-width: 600px) {
  .wild-results-holder {
    width: 90%;
    padding: 6%;
    padding-left: 10%;
  }
}

.wild-tags {
  display: inline-block;
  width: auto;
  cursor: pointer;
  color: black;
  /* transition: all ease 300ms;
    position: relative;
    margin-left: 5px;
    margin-right: 5px; */
}

.wild-tags:hover {
  color: #1ca7b5;
}

/*TAG SEARCH*/
.main-container-tag-search {
  min-height: 100vh;
  padding-top: 5%;
  padding-bottom: 10%;
  background-color: #edeae5;
  margin: auto;
  justify-content: center;
}

.tag-results-holder {
  width: 70%;
  text-align: left;
  margin: auto;
  margin-top: 4%;
  justify-content: center;
  padding: 4%;
  padding-left: 6%;
  background: white;
  border-radius: 5px;
  border: 1px solid rgb(202, 202, 202);
}

@media only screen and (max-width: 600px) {
  .tag-results-holder {
    width: 90%;
    padding: 6%;
    padding-left: 10%;
  }
}

/*REVIEWS*/

.inner-container-your-review {
  width: 80%;
  background-color: white;
  padding: 4%;
  margin: auto;
  justify-content: center;
  border-radius: 5px;
  margin-top: 4%;
  margin-bottom: 4%;
  -webkit-box-shadow: 0px 1px 4px 1px rgba(201, 201, 201, 0.27);
  -moz-box-shadow: 0px 1px 4px 1px rgba(201, 201, 201, 0.27);
  box-shadow: 0px 1px 4px 1px rgba(201, 201, 201, 0.27);
}

@media only screen and (max-width: 600px) {
  .inner-container-your-review {
    width: 90%;
  }
}

.text-area-your-review {
  margin-top: 4%;
  width: 100%;
}

.submit-your-review {
  margin-top: 4%;
  font-size: 14px;
  cursor: pointer;
  color: #a8903d;
  font-weight: 400;
  border: 1px solid #eed479;
  background-color: #fce181;
  box-shadow: none !important;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 5px;
}

.submit-your-review:hover {
  color: #917d35;
  border: 1px solid #dbc268;
  background-color: #f0d471;
  box-shadow: none !important;
}

.submit-your-review:focus {
  box-shadow: none !important;
}

.main-container-my-reviews {
  min-height: 100vh;
  padding-bottom: 10%;
  background-color: #edeae5;
}

.my-review-holder {
  width: 80%;
  text-align: left;
  margin: auto;
  margin-top: 4%;
  justify-content: center;
  padding: 4%;
  background: #f7f7f7;
  border-radius: 5px;
  border: 1px solid rgb(202, 202, 202);
}

@media only screen and (max-width: 768px) {
  .my-review-holder {
    width: 90%;
    margin-top: 10%;
  }
}

.single-review-holder {
  width: 90%;
  text-align: left;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  justify-content: center;
  padding: 4%;
  padding-left: 6%;
  background: white;
  border-radius: 5px;
  border: 1px solid rgb(202, 202, 202);
}

.movie-title-my-reviews {
  display: inline-block;
  font-weight: 400;
  color: rgb(83, 83, 83);
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 2%;
}

.movie-title-my-reviews:hover {
  color: #1ca7b5;
}

.trash-my-reviews {
  float: right;
}

.all-reviews-movie-container {
  width: 80%;
  background-color: white;
  padding: 4%;
  margin: auto;
  justify-content: center;
  border-radius: 5px;
  margin-top: 4%;
  margin-bottom: 4%;
  -webkit-box-shadow: 0px 1px 4px 1px rgba(201, 201, 201, 0.27);
  -moz-box-shadow: 0px 1px 4px 1px rgba(201, 201, 201, 0.27);
  box-shadow: 0px 1px 4px 1px rgba(201, 201, 201, 0.27);
}

@media only screen and (max-width: 768px) {
  .all-reviews-movie-container {
    width: 90%;
  }
}

.list-holder-all-reviews {
  text-align: left;
}

.list-item-all-reviews {
  list-style-type: none;
  margin-top: 4%;
  margin-bottom: 4%;
}

.main-container-profile {
  min-height: 100vh;
  padding-bottom: 10%;
  background-color: #edeae5;
}
.holder-profile {
  width: 70%;
  text-align: left;
  margin: auto;
  justify-content: center;
  padding: 4%;
  background: white;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 4px 1px rgba(201, 201, 201, 0.27);
  -moz-box-shadow: 0px 1px 4px 1px rgba(201, 201, 201, 0.27);
  box-shadow: 0px 1px 4px 1px rgba(201, 201, 201, 0.27);
}

.avatar-container {
  margin: right;
  justify-content: right;
}

.avatar-profile {
  border: 5px solid white;
}

/* .tag {
  transition: all ease 300ms;
  position: relative;
}

.tag:hover {
  color: red;
  text-decoration: line-through;
}

.MouseOver {
  transition: all ease 300ms;
  position: relative;
}

.MouseOver:hover {
  color: red;
  width: 1.5em;
} */

/* .tag:hover:before{
  display:block;
  height:3px;
  width:3px;
  position:absolute;
  content:"";
  z-index:2;
  top:0;
  right:0;
  background:blue
} */
